@import "./base.css";

#app {
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.ql-tooltip {
  z-index: 100;
}

@media (prefers-reduced-motion) {
  .appear {
    animation: unset;
  }
}

@keyframes appearance {
  0% {
    transform: scale(1, 0.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
